@font-face {
    font-family: "EB Garamond";
    src: url("./fonts/EBGaramond.ttf");
}

body {
    background-image: linear-gradient(to right, #000000, #444444, #000000);
    margin: 0px auto;
    width: 500px;
}

header {
    background-color: #000000;
    background-image: url("./images/headerbg.png");
    background-position: 50%;
    background-repeat: repeat;
    outline: 1px solid #999999;
    margin: 1em 0px;
    box-shadow: 1% 1% #000000;
}

header #menu {
    width: 100%;
    display: inline-block;
}

main {
    background-color: #ffffff;
    padding: 2%;
    margin: 0px;
    width: 96%;
    font-family: EB Garamond;
    box-shadow: 1% 1% #000000;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 3em; 
    color: #8a8a8a;
    font-weight: normal;
    font-family: EB Garamond;
    font-style: italic;
    padding: 1em;
    margin: 0px;
    width: 100%;
    text-shadow: #434343 5px 5px;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0px 0px 0.3em 0px;
    font-style: italic;
    font-family: EB Garamond;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0px 0px 0.7em 0px;
    font-style: italic;
    font-family: EB Garamond;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

h4 {
    font-size: 1em;
    line-height: 1em;
    font-family: EB Garamond;
    width: 100%;
    margin: 0.7em 0px 0px 0px;
    display: inline-block;
    padding: 0px;
    border-bottom: 1px solid #424242;
}

main p {
    margin: 0.3em 0px 0.7em 0px;
    display: inline-block;
    font-family: EB Garamond;
    width: 100%;
}

main p.center {
    text-align: center;
}

main blockquote {
    width: 96%;
    margin: 0.3em 2% 0.7em 2%;
}

main ol {
    margin: 0px;
}

main img {
    border: 1px solid #444444; 
}

footer p {
    margin: 0px;
    font-size: 0.7em;
    color: #999999;
    text-shadow: #000000 0.2em 0.2em;
    font-family: "EB Garamond";
}

#menu a {
    width: 20%;
    padding: 1em 0px;
    font-size: 0.8em;
    display: inline-block;
    font-family: "EB Garamond";
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: #e3e3e3;
    opacity: 0.4;
}

#menu a:hover {
    opacity: 0.6;
    color: #ffffff;
}