main h1::before {
    content: "";
    display: block;
    background-color: lawngreen;
    width: 50%;
    height: 3px;
    margin: 0 auto;
}

li::after {
    content: "★";
    color: gold;
}

li:nth-child(odd) {
    background-color: #454545;
}

button:hover {
    padding: 20px;
    transition: ease-in-out;
    transition-duration: 100ms;
    background-color: crimson;
    cursor: pointer;
    margin: 0px;
}

button {
    transition: ease-in-out;
    transition-duration: 100ms;
    margin: 10px;
}

li:first-child, li:last-child {
    color: lawngreen;
}

h2:not(:first-child) {
    font-style: italic;
}

section:before, section:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: orange;
}

p:hover {
    background-color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: grey;
}

div:nth-of-type(even) {
    font-style: italic;
}