#favourite-books-list, #favourite-authors-list {
    height: fit-content;
    min-height: 250px;
}

#favourite-books-list > p, #favourite-authors-list > p {
    width: 100%;
    text-align: center;
}

#favourite-books-list .horizontal-item, #favourite-authors-list .horizontal-item {
    border-radius: 5px;
    height: 100%;
    background-color: #202020;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-width: 200px;
    max-width: 200px;
}

#favourite-books-list .horizontal-item .book-title, #favourite-authors-list .horizontal-item .author-name {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: inherit;
    white-space: wrap;
}

#favourite-books-list .horizontal-item .book-title:hover, #favourite-authors-list .horizontal-item .author-name:hover {
    text-decoration: underline;
}

#favourite-books-list .horizontal-item .cover, #favourite-authors-list .horizontal-item .feature {
    min-width: 150px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#clear-favourite-books, #clear-favourite-authors {
    max-width: 250px;
}