section:nth-child(2) {
    gap: 50px;
}

#search-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    margin: 0 auto;
}

#search-form p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex: 0 1;
}

#search-form p label {
    padding: 3px;
    flex: 1;
}

#search-form p input:not(#input-year) {
    padding: 3px;
    flex: 6;
}

#search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-buttons button {
    flex: 0.5;
}

/*
Search message
*/

#search-message {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*
Search results
*/

#search-results {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

/*
Settings
*/

#search-results-settings {
    display: fleX;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-results-sorting {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#search-results-sorting label {
    white-space: nowrap;
}

#search-results-per-page {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#search-results-per-page label {
    white-space: nowrap;
}

#search-results-per-page-input {
    width: 50px;
    text-align: center;
}

/*
Results list
*/

#search-results-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.search-results-list-item {
    list-style-type: none;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid grey;
    background-color: #202020;
    border-radius: 5px;
}

.search-results-list-item .cover {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.search-results-list-item .cover img {
    width: 100%;
    height: 100%;
}

.search-results-list-item .cover .loading-icon {
    width: 20px;
    height: 20px;
}

.search-results-list-item .cover .missing-cover {
    filter: contrast(0%);
}

.search-results-list-item .info {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
    gap: 10px;
}

.search-results-list-item .info .title {
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.search-results-list-item .info .title:hover {
    text-decoration: underline;
}

.search-results-list-item .info .year {
    font-size: 0.8rem;
}

.search-results-list-item .info .year::before {
    content: "(";
}

.search-results-list-item .info .year::after {
    content: ")";
}

.search-results-list-item .info .authors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0 10px;
}

.search-results-list-item .info .authors button {
    border: none;
    cursor: pointer;
    background-color: inherit;
    padding: 2px;
    font-size: 1rem;
    font-family: inherit;
}

.search-results-list-item .info .authors button:hover {
    text-decoration: underline;
}

.search-results-list-item .options {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-results-list-item .options button {
    padding: 0px;
    width: 30px;
    height: 30px;
    padding: 2px;
}

.search-results-list-item .options button img {
    width: 100%;
    height: 100%;
}

#search-results-pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-results-pages button {
    padding: 3px;
}

#search-results-pages select {
    padding: 3px;
}

#search-results-pages span {
    padding: 3px;
}