* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colour-picker {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colour-result{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 220px;
    max-height: 100px;
    border-radius: 20px;
    border: 1px solid black;
}

.colour-hex {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25), 0 -2px 0 rgba(0, 0, 0, 0.25),
    2px -2px 0 rgba(0, 0, 0, 0.25), 2px 0 0 rgba(0, 0, 0, 0.25), 2px 2px 0 rgba(0, 0, 0, 0.25), 
    0 2px 0 rgba(0, 0, 0, 0.25), -2px 2px 0 rgba(0, 0, 0, 0.25), -2px 0 0 rgba(0, 0, 0, 0.25);
}
.copy-hex img {
    max-width: 20px;
}